@font-face {
  font-family: "coolveticaregular";
  src: url("coolvetica_rg-webfont.woff2") format("woff2"),
    url("coolvetica_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  font-family: "coolveticaregular", Arial;
  color: white;
}

body {
  margin: 20px;
  background-color: rgb(32, 33, 36);
}

a {
  color: rgb(106, 125, 230);
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: rgb(88, 168, 188);
}

.header{
  text-align: center;
}